<div class="container">
  <section id="staff">
    <h1 class="text-center" style="margin-bottom: 50px;">LEADERSHIP</h1>
    <div class="row">
      <div class="col col-md-4">
        <mat-card>
          <img mat-card-image src="../../../assets/images/staff/conrade_lisa.jpg" alt="Conrad & Lisa Duncan">
          <mat-card-content>
            <h5>Conrade & Lisa Duncan</h5>
            <p><strong>Senior Pastors</strong></p>
            <p>In the late 70s we had meetings in the barn all the time, bible studies, fellowship meetings, worship
              nights; the horses would be in the stall down below and the people would be in the loft, sitting on bales
              of hay, and no one would go home – they’d stay into the wee hours of the night with the fog rolling in
              across the fields - In 1990, I heard the Lord tell me to prepare the barn for year round ministry.</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" class="button" href="mailto:pastorcon@juno.com?subject=HoF Leadership Page"
              target="_top">
              <img class="icon" src="../../../assets/images/outline_email_white_18dp.png"> EMAIL
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col col-md-4">
        <mat-card>
          <img mat-card-image src="../../../assets/images/staff/skip.jpg" alt="Skip Smith">
          <mat-card-content>
            <h5>Skip Smith</h5>
            <p><strong>Associate Pastor</strong></p>
            <p>Kenny and Denise round out the pastoral leadership at our church. They began their pastoral career here
              at “The Barn” ministering primarily to the youth. As the church has grown their responsibilities have
              increased beyond the youth and into counseling and preaching as well. Their dynamic style and unique
              approach is a testimony of the power of the gospel of Jesus Christ to transform lives.</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" class="button" href="mailto:denidedmiller@hotmail.com?subject=HoF Leadership Page"
              target="_top">
              <img class="icon" src="../../../assets/images/outline_email_white_18dp.png"> EMAIL
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col col-md-4">
        <mat-card>
          <img mat-card-image src="../../../assets/images/staff/chris.JPG" alt="Chris Morse">
          <mat-card-content>
            <h5>Chris Morse</h5>
            <p><strong>Worship Pastor</strong></p>
            <p>Chris and Pam have been members of the church since 1997. Chris had an extensive background as a
              touring secular musician when they first came to us. He joined the worship team as a percussionist in
              1998. He shifted from percussion to the drums shortly thereafter. Since early 2002 Chris has been the
              primary worship leader for House of Faith.</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" class="button" href="mailto:hofdrummer@hotmail.com?subject=HoF Leadership Page"
              target="_top">
              <img class="icon" src="../../../assets/images/outline_email_white_18dp.png"> EMAIL
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-4">
        <mat-card>
          <img mat-card-image src="../../../assets/images/staff/paul_georgeanne.jpg" alt="Paul and Georgeanne Nagy">
          <mat-card-content>
            <h5>Paul & Georgeanne Nagy</h5>
            <p><strong>Directors of Ministry Development</strong></p>
            <p>Paul and Georgeanne are founding members of the church having ministered with the pastors since House of
              Faith’s inception. Proving themselves as co-laborers in Christ with the Duncan's has reaped untold
              blessings to the body of Christ. However large or small the issue, one can be assured that the Nagy’s are
              behind it all making sure it all comes together.</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" class="button" href="mailto:csanad@comcast.net?subject=HoF Leadership Page"
              target="_top">
              <img class="icon" src="../../../assets/images/outline_email_white_18dp.png"> EMAIL
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col col-md-4">
        <mat-card>
          <img mat-card-image src="../../../assets/images/staff/isack.jpg" alt="Pastor Isack Wanjohi">
          <mat-card-content>
            <h5>Pastor Isack Wanjohi</h5>
            <p><strong>Minister of Evangelism</strong></p>
            <p>**Add something here**</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-stroked-button class="button button-link" routerLink="./isack-wanjohi">VIEW PAGE</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </section>
</div>
