<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-4">
        <div>
          <strong><em>House of Faith</em></strong>
        </div>
        <div>
          <address>
            170 Taylor Rd<br>
            West Newton, PA 15089
          </address>
        </div>
      </div>
      <div class="col-4">
        <div>
          <img src="../../assets/images/HoF Footer.png" class="img-fluid">
        </div>
        <div class="social-bar">
          <a href=""><i class="fab fa-youtube fa-lg"></i></a>
          <a href="https://www.facebook.com/House-of-Faith-The-Barn-108144655894094/" target="_blank">
            <i class="fab fa-facebook-f fa-lg"></i>
          </a>
        </div>
      </div>
      <div class="col-4">
        <div>
          <strong><em>Service</em></strong>
        </div>
        <div>
          <p>Sat: 7:30pm - 9pm</p>
        </div>
      </div>
    </div>
  </div>
</footer>
