<footer>
  <div style="margin-bottom: 35px;">
    <mat-divider></mat-divider>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-md-4">
        <div>
          <strong><em>House of Faith</em></strong>
        </div>
        <div>
          <p>170 Taylor Rd</p>
          <p>West Newton, PA 15089</p>
        </div>
      </div>
      <div class="logo col-12 col-md-4">
        <div>
          <img src=".../../assets/images/hof_footer.png" class="img-fluid">
        </div>
        <div class="social-bar">
          <a href="https://www.youtube.com/channel/UC3TyCy83iqLJ16pLYWT3ZGg" target="_blank">
            <i class="fab fa-youtube fa-lg"></i>
          </a>
          <a href="https://www.facebook.com/House-of-Faith-The-Barn-108144655894094/" target="_blank">
            <i class="fab fa-facebook-f fa-lg"></i>
          </a>
        </div>
      </div>
      <div class="info col-12 col-md-4">
        <div class="day">
          <h5><strong><em>Wednesday</em></strong></h5>
        </div>
        <div class="hours">
          <p><strong>Bible Study: </strong>7 - 8:30pm</p>
        </div>
        <div class="day">
          <h5><strong><em>Saturday</em></strong></h5>
        </div>
        <div class="hours">
          <p><strong>Food & Fellowship: </strong>6 - 7pm</p>
          <p><strong>Service: </strong>7pm</p>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 35px;">
    <mat-divider></mat-divider>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-12">
        <div class="copyright py-3">
          © {{year}} House of Faith - The Barn
        </div>
        <div>
          <a href="https://www.instantchurchdirectory.com/" target="_blank" style="color: black; text-decoration: underline;">Directory</a>
        </div>
      </div>
    </div>
  </div>
</footer>
