<footer>
  <div style="margin-bottom: 35px;">
    <mat-divider></mat-divider>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-4">
        <div>
          <strong><em>House of Faith</em></strong>
        </div>
        <div>
          <address>
            170 Taylor Rd<br>
            West Newton, PA 15089
          </address>
        </div>
      </div>
      <div class="col-4">
        <div>
          <img src="../../assets/images/HoF Footer.png" class="img-fluid">
        </div>
        <div class="social-bar">
          <a href=""><i class="fab fa-youtube fa-lg"></i></a>
          <a href="https://www.facebook.com/House-of-Faith-The-Barn-108144655894094/" target="_blank">
            <i class="fab fa-facebook-f fa-lg"></i>
          </a>
        </div>
      </div>
      <div class="col-4">
        <div class="day">
          <h5><strong><em>Wednesday</em></strong></h5>
        </div>
        <div class="hours">
          <p><strong>Bible Study </strong>7 - 8:30pm</p>
        </div>
        <div class="day">
          <h5><strong><em>Saturday</em></strong></h5>
        </div>
        <div class="hours">
          <p><strong>Food & Fellowship </strong>6 - 7pm</p>
          <p><strong>Service </strong>7pm</p>
        </div>
      </div>
    </div>
  </div>
</footer>
