.social-bar {
  margin-top: 25px;
}

.social-bar > a > .fab,
.social-bar > a > .fas {
  color: black;
  margin-right: 15px;
  transition: color .5s;
}

.social-bar:hover > a > .fab,
.social-bar:hover > a > .fas {
  color: rgba(0, 0, 0, .5);
}

.social-bar > a:hover > .fab,
.social-bar > a:hover > .fas {
  color: black;
}

footer {
  padding: 6vw;
}

p {
  margin: 0;
}

.day {
  margin-bottom: 5px;
  margin-top: 5px;
}

@media (max-width: 769px) {
  .logo, .info {
    margin-top: 25px;
  }
}
