<div class="container text-center">
  <section id="vision">
    <h1>VISION</h1>
    <div class="row header">
      <div class="col-12">
        <p>
          The vision of House of Faith is to empower others to serve mightily in the Kingdom of God. The Lord called us
          to a Saturday night work and showed us that the congregation would be made up of row upon row of Ministries;
          that those Ministries would gather together to worship and to be built up. Then they would disburse into the
          community, touching others for the Kingdom’s Sake. Below are a few that always needs volunteers. Please pray
          about how you can get involved.
        </p>
      </div>
    </div>
  </section>
</div>
