<div class="container">
  <div class="contact-form text-center">
    <h1>Contact Us</h1>
    <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="sendEmail(contactForm.value)">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstName">
        <mat-error *ngIf="contactForm.get('firstName').invalid">First Name is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="lastName">
        <mat-error *ngIf="contactForm.get('lastName').invalid">Last Name is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="contactForm.get('email').hasError('required')">Email is required.</mat-error>
        <mat-error *ngIf="contactForm.get('email').hasError('email')">Not a valid email.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Subject</mat-label>
        <input matInput type="text" formControlName="subject">
        <mat-error *ngIf="contactForm.get('subject').invalid">Subject is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput type="text" formControlName="message"></textarea>
        <mat-error *ngIf="contactForm.get('message').invalid">Message is required.</mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Send</button>
    </form>
  </div>
</div>
