<div class="container text-center">
  <section id="weekendService">
    <h1>BIBLE STUDY</h1>
    <div class="row event-header">
      <div class="col-12">
        <h2>WEDNESDAYS 7-8:30PM</h2>
        <p class="event-header">As Christians, we do not merely study the Bible as an academic discipline, but with the
          desire to know God better. The combination of Bible study and prayer is an important one. We spend time in
          prayer then delve into a round table discussion of the topic for the night.</p>
        <p><i>"A Bible that is falling apart usually belongs to someone who isn't." - Charles Spurgeon</i></p>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section id="weekendService">
    <h1>WEEKEND SERVICE</h1>
    <div class="row event-header">
      <p>The Book of Acts tells us the early believers went from house to house “breaking bread.” The words “breaking
        bread” was translated from a Greek phrase meaning to share a wonderful meal and a time of fellowship and
        relaxation with friends. With this intention, we start the evening at 6 PM sharing a pot luck meal together.
        This is followed by an awesome time of worship at 7 pm and a deep dose of the Word of God immediately after.</p>
    </div>
    <div class="row event-header">
      <div class="col-12 col-md-6">
        <h2>SATURDAYS 6PM</h2>
        <p class="event-info">Food & Fellowship - Join us for food and fellowship.</p>
        <p class="event-info"><em>"Deep faith sees the invisible, believes the unbelieveable and receives the
            impossible" - Corrie ten Boom</em></p>
      </div>
      <div class="col-12 col-md-6">
        <h2>SATURDAYS 7PM</h2>
        <p class="event-info">Live worship begins with a message following after.</p>
        <p class="event-info">Children's ministry begins at the same time.</p>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section id="location">
    <h1>LOCATION</h1>
    <div class="row event-header">
      <div class="col-12">
        <p>170 Taylor Rd</p>
        <p>West Newton, PA 15089</p>
        <a mat-stroked-button class="border-button" href="https://www.google.com/maps/place/House+of+Faith-The+Barn/@40.244979,-79.7277667,17z/data=!4m13!1m7!3m6!1s0x8834de111bf2ebcd:0x55e54c304abd204e!2s170+Taylor+Rd,+West+Newton,+PA+15089!3b1!8m2!3d40.244979!4d-79.725578!3m4!1s0x8834de115ff6ed47:0xbe18a3680923a303!8m2!3d40.244979!4d-79.725578"
          target="_blank">DIRECTIONS</a>
      </div>
    </div>
  </section>
</div>
