<div class="container">
  <section id="staff">
    <h1 class="text-center" style="margin-bottom: 50px;">LEADERSHIP</h1>
    <div class="row">
      <div class="col-12 col-md-4">
        <mat-card>
          <img mat-card-image src=".../../assets/images/staff/conrade_lisa.jpg" alt="Conrad & Lisa Duncan">
          <mat-card-content>
            <h5>Conrad & Lisa Duncan</h5>
            <p><strong>Senior Pastors</strong></p>
            <p>When I met Lisa, the Lord told me I’d marry this girl and He’d give me a ministry in a Barn. We had no
              idea He meant the barn in the back yard! And yet, ministry naturally took place there starting with
              meetings in the hay loft that lasted into the wee hours of the morning. The fog would be rolling in and
              dew falling, but no one wanted to leave God’s presense. Then we heard the Lord say to prepare the barn
              for year round ministry. The rest, as they say, is history!</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" class="button" href="mailto:pastorcon@juno.com?subject=HoF Leadership Page"
              target="_top">
              <img class="icon" src=".../../assets/images/outline_email_white_18dp.png"> EMAIL
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-12 col-md-4">
        <mat-card>
          <img mat-card-image src=".../../assets/images/staff/skip.jpg" alt="Skip Smith">
          <mat-card-content>
            <h5>Skip Smith</h5>
            <p><strong>Associate Pastor</strong></p>
            <p>Pastor Skip comes from the Lebanon/Lancaster area. He came to Pittsburgh in 2006 when his grandson
              Raymond was born. He used his background in production management to aid in the birthing of several
              ministries over the years. He first attended House of Faith in 2014, where he met his future wife
              Dee-Dee. They were married here at The Barn in 2015 and now live in West Newton. He became Associate
              Pastor in 2016 and also runs a portion of the local outreach ministry.</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" class="button" href="mailto:skiplowell@gmail.com?subject=HoF Leadership Page"
              target="_top">
              <img class="icon" src=".../../assets/images/outline_email_white_18dp.png"> EMAIL
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-12 col-md-4">
        <mat-card>
          <img mat-card-image src=".../../assets/images/staff/chris.JPG" alt="Chris Morse">
          <mat-card-content>
            <h5>Chris Morse</h5>
            <p><strong>Worship Pastor</strong></p>
            <p>Pastor Chris, his wife Pam & son, Declan live in Forward Township PA. Chris has been our primary worship
              leader since 2001. After 25 years as a carpenter, God called Chris into full time ministry. He is also
              the Executive Director of Waypoint Youth & Community Center and oversees their outreach team Waypoint
              Worship. Chris and Pam work with our young adults mentoring them for service in the Kingdom.</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" class="button" href="mailto:hofdrummer@hotmail.com?subject=HoF Leadership Page"
              target="_top">
              <img class="icon" src=".../../assets/images/outline_email_white_18dp.png"> EMAIL
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <mat-card>
          <img mat-card-image src=".../../assets/images/staff/paul_georgeanne.jpg" alt="Paul and Georgeanne Nagy">
          <mat-card-content>
            <h5>Paul & Georgeanne Nagy</h5>
            <p><strong>Vice President</strong></p>
            <p>Paul and Georgeanne are founding members of the church having ministered with the pastors since House of
              Faith’s inception. Proving themselves as co-laborers in Christ with the Duncans has reaped untold
              blessings to the body of Christ. However large or small the issue, one can be assured that the Nagys are
              behind it all making sure it all comes together.</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" class="button" href="mailto:csanad@comcast.net?subject=HoF Leadership Page"
              target="_top">
              <img class="icon" src=".../../assets/images/outline_email_white_18dp.png"> EMAIL
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-12 col-md-4">
        <mat-card>
          <img mat-card-image src=".../../assets/images/staff/isack.jpg" alt="Pastor Isack Wanjohi">
          <mat-card-content>
            <h5>Pastor Isack Wanjohi</h5>
            <p><strong>Minister of Evangelism</strong></p>
            <p>Pastor Isack grew up in Kenya and one day, as he tended the cows, the Lord supernaturally taught him to
              read English. Then He called Isack to go to America to evangelize. With little money, knowing no one, he
              left family and friends and crossed the ocean. He traveled several years looking for where God was
              calling him. When Isack arrived at the barn and saw the sign “House of Faith – Full Gospel Church” he
              knew he was home. Since then his radio and prison ministry has saved many.</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-stroked-button class="button button-link" routerLink="./isack-wanjohi">VIEW PAGE</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </section>
</div>
