<div class="container text-center">
  <section id="whoWeAre">
      <h1>WHO WE ARE</h1>
    <div class="row header">
      <div class="col">
        <p>
          We took our name from a song by Geoff Moore and the Distance. The song talks about a place open to the
          hurting and the lost, a place with rooms for the confused and the abused, a place where hands reach out
          to hold the weak and fallen, a place where there are no labels. Because the world is so quick to stick
          a label on you and no matter how much you try to change and outrun that label, you just can't. People
          come into the Barn and they tell us they feel like they've finally come "home", right in the middle
          of a big family reunion at Thanksgiving time. They're welcomed with open arms and lots of hugs. At the
          Barn, they find people to help them unload their "stuff" and unpack it all, sort it, make sense of it
          and stash it away. One of my favorite testimonies is of a woman who had suffered with Schizophrenia since
          she was little. She was brought into the HoF family and surrounded with love. Sometimes she wanted to talk
          about her past and sometimes she just wanted to get a hug. One night during the worship service, Jesus
          touched her and the voices stopped. She's been seven years free and she knows it happened here because she
          felt safe enough to stay long enough to receive the healing the Lord has prepared for her.
        </p>
      </div>
    </div>
  </section>
</div>