<section id="profile">
  <div class="container">
    <div class="row" style="padding: 50px 50px 0 50px;">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="profile">
          <div>
            <img src=".../../assets/images/staff/isack.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
          </div>
          <div class="name">
            <h3 class="title">Pastor Isack Wanjohi</h3>
            <h6>Minister of Evangelism</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="description text-center" style="padding: 50px;">
      <p>Pastor Isack Wanjohi grew up in Kenya. As a young man, he was a herdsman, keeping care of cattle. He had met
        a missionary who gave him a copy of an English Bible. While caring for the cattle one day, he got out the
        Bible and the Lord had him open it. Supernaturally, the Lord began to teach Pastor Isack to read in English.
        Then the Lord called him to come to the U.S. to evangelize. His anointed radio broadcast and prison ministry
        has seen hundreds of souls saved along with miraculous healings.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="row radio-stations">
      <div class="col-12 text-center">
        <div class="title">
          <h2>Minister of Evangelism</h2>
          <h2>Tune in to hear Pastor Isack on:</h2>
        </div>
        <div class="row stations">
          <div class="col-12 col-md-4 station-info">
            <h3>WKHB FM/AM</h3>
            <p>Pittsburgh, PA</p>
            <p>Sundays @ 7:30am</p>
          </div>
          <div class="col-12 col-md-4 station-info">
            <h3>WKTQ FM/AM</h3>
            <p>Pittsburgh, PA</p>
            <p>Sundays @ 8am</p>
          </div>
          <div class="col-12 col-md-4 station-info">
            <h3>WJLZ FM</h3>
            <p>Virginia Beach, VA</p>
            <p>Sundays @ 9:30am</p>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row embed-video">
      <div class="col-12 col-md-6 text-center">
        <div class="title">
          <h4>Pastor Isack Wanjohi</h4>
        </div>
        <div class="title">
          <h4>House of Faith's</h4>
          <h5>Minister of Evangelism</h5>
        </div>
        <div>
          <p>Pastor Isack took his oath becoming a U.S. citizen on June 24, 2015.</p>
          <p>Here are some of the highlights from that ceremony.</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="iframe-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/lh2cS3D5Y0o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
