<div class="container-fluid">
  <section id="welcome">
    <div class="overlay">
      <div class="overlay-content">
        <h1>Put Generic Text Here</h1>
        <div class="overlay-buttons">
          <button mat-stroked-button>Do Something</button>
          <button mat-stroked-button>Do Something</button>
        </div>
      </div>
    </div>
  </section>
  <section id="test1">
    <div class="text-center">
      <h1>PUT SOMETHING HERE</h1>
    </div>
  </section>
  <section id="test2">
    <div class="text-center">
      <h1>PUT SOMETHING HERE</h1>
    </div>
  </section>
</div>
