<div class="container-fluid">
  <section id="welcome">
    <div class="overlay">
      <div class="overlay-content">
        <h1>House of Faith</h1>
        <h3>Worship with us on Saturdays @ 7PM</h3>
      </div>
    </div>
  </section>
</div>
<div class="container">
  <section id="test1">
    <div class="text-center">
      <h5>
        <i>***Let's get a quote for here. Maybe a Mission Statement or an objective.***</i>
      </h5>
    </div>
  </section>
  <div id="ourChurch" style="margin-bottom: 50px;">
    <div class="row">
      <div class="col-12 col-md-4" style="margin-bottom: 25px;">
        <img src=".../../assets/images/homepage-1.jpg" class="img-fluid">
      </div>
      <div class="col-12 col-md-8">
        <h4>Our Church</h4>
        <p>When you come to First Church, you can expect to be welcomed into a friendly, positive environment by people
          who are genuinely excited to see you. For our first-time guests, we have a VIP parking area, just tell the
          parking volunteer and they will direct you. We have childcare available during our scheduled services. We
          want to help make your first experience at First Church a great one!</p>
        <button mat-stroked-button class="border-button" (click)="_nav.navigate('/about')">Learn More</button>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div id="outreach" style="margin-top: 50px;">
    <div class="row">
      <div class="col-12 col-md-8">
        <h4>Outreach</h4>
        <p>When you come to First Church, you can expect to be welcomed into a friendly, positive environment by people
          who are genuinely excited to see you. For our first-time guests, we have a VIP parking area, just tell the
          parking volunteer and they will direct you. We have childcare available during our scheduled services. We
          want to help make your first experience at First Church a great one!</p>
      </div>
      <div class="col-12 col-md-4">
        <img src=".../../assets/images/homepage-2.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</div>
