<div class="container-fluid">
  <section id="welcome">
    <div class="overlay">
      <div class="overlay-content">
        <h1>House of Faith</h1>
        <h3>Worship with us on Saturdays @ 7PM</h3>
      </div>
    </div>
  </section>
</div>
<div class="container">
  <section id="homeQuote">
    <div class="text-center">
      <h5>
        <i>Christ driven, mission focused, outreach oriented - we don’t see through you, we see you through.</i>
      </h5>
    </div>
  </section>
  <div id="ourChurch" style="margin-bottom: 50px;">
    <div class="row">
      <div class="col-12 col-md-4" style="margin-bottom: 25px;">
        <img src=".../../assets/images/homepage-1.jpg" class="img-fluid">
      </div>
      <div class="col-12 col-md-8">
        <h4>Our Church</h4>
        <p><b>Our call</b> is to equip and empower others to find their gifts and calling in Christ. <b>Our commitment</b> is to
          seeing the Church united without walls or denominational barriers. <b>Our mission</b> is to demonstrate the Gospel
          through an active love for others. <b>Our outreach</b> is recognizing the need and mobilizing to meet it. <b>If you are
          looking for a place that</b> is grace based, welcoming believers from all walks of life, we invite you to join
          us.</p>
        <button mat-stroked-button class="border-button" (click)="_nav.navigate('/about')">Learn More</button>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div id="outreach" style="margin-top: 50px;">
    <div class="row">
      <div class="col-12 col-md-8">
        <h4>Outreach</h4>
        <p>Mission Outreach is defined by Wikipedia as "an activity of providing services to those who might not otherwise have
          access to those services. A key component of outreach is that the groups providing it are not stationary, but mobile".
          This means we go to the needy; we set up shop where the hardship exists: loving and lifting, delivering services,
          educating and training, striving to be a change agent in the midst of the community.</p>
          <button mat-stroked-button class="border-button" (click)="_nav.navigate('/ministries')">Learn More</button>
      </div>
      <div class="col-12 col-md-4">
        <img src=".../../assets/images/homepage-2.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</div>
